
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>WEB322 Assignment Gallery</title>
    <link rel="stylesheet" href="/css/gallery.css" />
    <link rel="stylesheet" href="/css/login.css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
